/* Sticky Footer by Ryan Fait; http://ryanfait.com/html5-sticky-footer/ */
html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    margin: 0 auto -30px; /* the bottom margin is the negative value of the footer's height */
}

footer, .push {
    height: 30px; /* '.push' must be the same height as 'footer' */
}

/* push down content (sticky header)*/
.wrapper > .container {
    padding-top: 60px;
}

footer {
    background-color: #f5f5f5;
}